.menu li.current-menu-item a{
    color: #f2690e;
}
.category-block__item-img{
    width: 100px;
    object-fit: cover;
}
.modal{
    z-index: 11;
}
.category-block{
    justify-content: unset;
    gap: 10px;
}
.woocommerce span.onsale{
    z-index: 2;
}
.sub-menu{
    min-height: 100%;
}
.menu-visible {
    z-index: 999;
}
.product-one__counter{
    display: flex;
    gap: 10px;
}
.product-one__counter span{
    color: #f2690e;
    font-size: 16px;
    font-weight: 600;
}


/* КАРТОЧКА ТОВАРА НА СТРАНИЦЕ МАГАЗИНА */
.woocommerce .catalog-block__item.product{
    margin-bottom: 20px;
    width: 100%;
    gap: 10px;
}
.catalog-block__item-title{
    width: 30%;
}
.catalog-block__item-title h2{
    width: 320px;
    font-weight: 600;
    color: #0837c3;
    font-size: 16px;
    line-height: 1.2;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.catalog-block__item-img{
    width: 15%;
}
.catalog-block__item-img img{
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.catalog-block__item-article{
    width: 5%;
    text-align: center;
}
.catalog-block__item-availability{
    width: 10%;
}
.catalog-block__item-availability{
    font-size: 15px;
}
.catalog-block__item-price{
    width: 20%;
}
.catalog-block__item-article span,
.added_to_cart.wc-forward{
    display: block;
    font-size: 12px;
    text-align: left;
    line-height: 1;
}
.catalog-block__item-article span{
    text-align: center;
}
.catalog-block .single_add_to_cart_button,
.button.product_type_simple.catalog-block__item-cart.btn{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
    border: none;
    height: 40px;
    background-color: #0837c3 !important;
}

.page-cart{
    width: 15%;
    position: relative;
}
.catalog-block .cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.added_to_cart.wc-forward{
    position: absolute;
    bottom: -25px;
    left: 0%;
    background-color: #f2690e;
    color: #fff;
    padding: 5px;
}  
.catalog-block__item-cart.btn{
    padding: 0  !important;
}
.catalog-block .input-text{
    text-align: center;
   
}
.woocommerce-products-header__title.page-title{
    margin-bottom: 20px;
}
.catalog-block .stock.in-stock{
    display: none;
}
body .qib-button-wrapper{
    width: 55px !important;
}
/* .notices-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
   
} */
.product{
    padding: 0;
}
.page-cart .button.product_type_simple.catalog-block__item-cart.btn{
    margin-left: auto;
}
.varieties-block__content-text span{
    font-weight: 600;
}


/* КАРТОЧКА ТОВАРА НА СТРАНИЦЕ ТОВАРА */
body .product-one__qty .qib-button-wrapper{
    width: 100% !important;
}
.product-one__qty .single_add_to_cart_button,
.product-one__bottom-btn{
   transform: translateY(10px);
}
.product-one__qty .stock.in-stock{
    display: none;
}
.product-one__qty .single_add_to_cart_button{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #0837c3;
    line-height: 40px;
    text-align: center;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;  
}
.flex-control-nav.flex-control-thumbs{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.flex-control-nav.flex-control-thumbs li{
    width: 80px;
    height: 80px;
    list-style: none;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}
.flex-control-nav.flex-control-thumbs li img{
    width: 80px;
    height: 80px;
}
.price__zapros{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.price__zapros span{
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.product-one__bottom-zapros{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    background-color: #0837c3;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}

/* КОРЗИНА */
.cart-block{
    display: flex;
    padding-bottom: 70px;
}
.woocommerce-cart-form{
    width: 70%;
}
.cart-collaterals{
    width: 30%;
    margin-left: 40px;
    
}
.cart-collaterals__wrapper{
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.woocommerce-cart__item{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.product-thumbnail img{
    width: 100px;
    height: 100px;
}
.woocommerce-cart__item .product-name{
    width: 250px;
    font-weight: 600;
}
.woocommerce-cart__item .product-remove{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #f2690e;
}
.woocommerce-cart__item .remove{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.woocommerce-cart__item .product-subtotal{
    font-weight: 600;
}
.cart_totals h2{
    margin-bottom: 20px;
}
.cart-subtotal,
.order-total{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-subtotal__title{
    font-weight: 600;
}
.woocommerce-shipping-destination{
    margin-top: 10px;
    margin-bottom: 10px;
}
.woocommerce-shipping-calculator{
    display: none;
}
.button-disabled:disabled{
    height: 40px;
    line-height: 40px;
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color:rgba(118, 118, 118, 0.3);
    border-radius: 5px; 
}
.button-disabled{
    height: 40px;
    line-height: 40px;
    background-color: #f2690e;
    color:#fff;
    border: none;
    border-radius: 5px;
}
.product-subtotal__name{
    display: block;
    text-align: center;
    
}
.product-subtotal{
    color:#0837c3;
}
.breadcrumbs{
    padding-top: 40px;
}
.woocommerce-message{
    margin: 10px 0;
    padding: 5px;
    border: none;
    background-color: #0837c3;
    color: #fff;
}



/* ОФОРМЛЕНИЕ ЗАКАЗА */
.checkout.woocommerce-checkout{
    padding: 70px 0;
    display: flex;
    gap: 60px;
    position: relative;
}
.col2-set{
    width: 60%;
}
.checkout-box{
    width: 40%;
}
#order_review_heading{
    margin-bottom: 20px;
}
.shop_table.woocommerce-checkout-review-order-table,
.woocommerce-checkout-payment{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.woocommerce-billing-fields h3{
    margin-bottom: 20px;
}
.form-row{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.input-text,
.select2-container--default .select2-selection--single{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
}
.checkout-top{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.checkout-top .product-name,
.checkout-top .product-total{
    font-size: 18px;
    color: #464753;
}
.woocommerce-checkout-review-order-table .cart_item{
    display: flex;
    gap: 20px;
}
.cart_item .woocommerce-Price-amount.amount{
    font-weight: 600;
}
.product-name{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: #0837c3;
}
.cart-subtotal,
.order-total{
    font-size: 18px;
    font-weight: 600;
}
.cart-subtotal span,
.order-total span{
    font-size: 16px;
}
.order-total{
    margin-top: 10px;
}
.woocommerce-privacy-policy-text{
    margin-bottom: 10px;
    font-size: 14px;
}
.woocommerce-checkout-payment .btn{
    border: none;
}
.wc_payment_method.payment_method_cod{
    margin-bottom: 10px;
    font-weight: 600;
}
.cart-notice{
    margin-bottom: 20px;
    margin-top: 10px;
}
.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout{
    position: absolute;
    top: 20px;
}




/* СТРАНИЦА НА КОТОРУЮ КИДАЕТ ПОСЛЕ НАЖАТИЯ ПОДТВЕРДИТЬ ЗАКАЗ */
.woocommerce-order{
    max-width: 800px;
    margin: 20px auto 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.woocommerce-order-overview__order.order{
    margin-bottom: 10px;
}
.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received{
    font-size: 20px;
    margin: 20px 0 20px 0;
    font-weight: 600;
}
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details{
    margin-bottom: 20px;
}
.woocommerce-table__product-total.product-total{
    text-align: center;
}
.woocommerce-order-details .product-name{
    margin-bottom: 0;
}
.woocommerce-order .woocommerce-column__title{
    margin-bottom: 10px;
}
.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1{
    margin-bottom: 20px;
}
table {
    border-spacing: 0px 15px;
}
.woocommerce-order-details__title,
.woocommerce-column__title{
    font-size: 20px;
}


/* ПУСТАЯ КОРЗИНА */
.wc-empty-cart-message{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.btn.btn-empty{
    width: 300px;
    margin: 0 auto 40px auto; 
}

/* Хлебные крошки */
.catalog .woocommerce-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: #0837c3;
}
.woocommerce-breadcrumb a{
    color: #767676;
}
/* ПАГИНАЦИЯ */
.page-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 600;
}
.page-numbers.current{
    width: 30px;
    padding: 3px;
    background-color: #0837c3;
    color: #fff;
}

/* ФИЛЬТР */
.woof_redraw_zone{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.woof_price3_search_container.woof_container.woof_price_filter.woof_fs_by_price{
    width: 35% !important;
} 
.woof_container{
    width: auto !important;
}
.woof_container_inner.woof_container_inner_ h4,
.woof_autohide_wrapper,
.woof_products_top_panel_content,
.woof_container_inner.woof_container_inner_z h4{
    display: none;
}
.woof_select_radio_check_opener,
.woof_select_radio_check_opened .woof_select_radio_check_opener{
   background: transparent;
}
.woof_select_radio_check_opener{
    position: relative;
}
.woof_select_radio_check_opener::after{
    content: "";
    position: absolute;
    top: 11px;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #171717;
}
.woof_radio_label{
    font-size: 14px;
} 
.button.woof_reset_search_form,
.woof_reset_button_2{
    border: none !important;
    background-color: #0837c3 !important;
    color: #fff !important;
}
#woof_results_by_ajax{
    display: flex;
    justify-content: space-between;
}
.woocommerce.woocommerce-page.woof_shortcode_output{
    width: 100%;
}
.irs--modern .irs-bar{
    background: #0837c3 !important;
}
.irs--modern .irs-from, .irs--modern .irs-to, .irs--modern .irs-single{
    background-color: #0837c3 !important;
}
.woof_container_inner{
    margin-right: 15px;
}




@media(max-width: 1150px){
    .cart-collaterals{
        width: 25%;
    }
    .woocommerce-cart-form{
        width: 75%;
    }
}

@media(max-width: 1050px){
    body .qib-button-wrapper{
        width: 100% !important;
    }
    .catalog-block__item-article{
        width: 10%;
    }
    .catalog-block__item-availability{
        width: 15%;
    }
    .catalog-block__item-price,
    .catalog-block__item-title,
    .catalog-block__item-img,
    .page-cart{
        width: 30%;
    }
    .products.catalog-block.columns-4{
        padding-top: 40px;
    }
   
    .catalog-block .single_add_to_cart_button{
        width: 130px;
        font-size: 14px;
    }
    .cart-block{
        flex-direction: column;
        align-items: center;
    }
    .cart-collaterals{
        width: 50%;
        margin: 40px 0 0 0;
    }
    .woocommerce-cart-form{
        width: 100%;
    }
}

@media(max-width: 800px){
    .woocommerce .catalog-block__item.product{
        margin-bottom: 40px;
    }
    .catalog-block__item-title{
        width: 55%;
    }
    .catalog-block__item-title h2,
    .catalog-block__item-price--new,
    .catalog-block__item-price--old{
        width: 100%;
        font-size: 14px;
    }
    .catalog .woocommerce-breadcrumb{
        line-height: 1.4;
    }
    .woocommerce-cart__item{
        flex-wrap: wrap;
    }
    .cart-collaterals{
        width: 100%;
    }
    .checkout.woocommerce-checkout{
        padding: 40px 0;
        flex-direction: column;
        gap: 10px;
    }
    .checkout-box,
    .col2-set{
        width: 100%;
    }
    
}
@media(max-width: 650px){
    .catalog-block__item-availability{
        width: 20%;
    }
    .page-cart{
        width: 40%;
    }
    .woocommerce-cart__item .product-name{
        width: 100%;
    }
    .product-subtotal{
        width: 70%;
    }
    .product-price{
        width: 50%;
    }
    .cart-block{
        padding-bottom: 0px;
    }
    .product-subtotal__name{
        text-align: left;
    }
}

@media(max-width: 550px){
    .footer-block__menu li{
        font-size: 15px;
    }
    .footer-block__menu li,
    .footer-block__item-title{
        margin-bottom: 0;
    }
    .footer-block__item-title,
    .footer-block__item-address{
        font-size: 16px;
    }
    .catalog-block__item-title{
        width: 80%;
    }
    .catalog-block__item-availability{
        width: 35%;
    }
    .page-cart,
    .catalog-block__item-price,
    .catalog-block__item-article{
        width: 100%;
    }
    .catalog-block__item-img{
        width: 60%;
    }
    .page-cart{
        margin-top: 20px;
    }
    .woocommerce .catalog-block__item.product{
        padding: 10px;
        gap: 5px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
    }
    .woocommerce .catalog-block__item.product{
        margin-bottom: 20px;
    }
    .notices-box{
        margin-bottom: 20px;
        flex-direction: column;
    }
    .woocommerce-products-header__title.page-title{
        font-size: 24px;
        line-height: 1.1;
    }
    .category-block__item-img{
        margin-bottom: 10px;
    }
    .catalog-block__item-title h2, .catalog-block__item-price--new, .catalog-block__item-price--old{
        font-size: 16px;
    }
    .products.catalog-block.columns-4{
        padding-top: 20px;
    }
    .flex-control-nav.flex-control-thumbs li{
        width: 50px;
        height: 50px;
    }
    .flex-control-nav.flex-control-thumbs li img{
        width: 50px;
        height: 50px;
    }
    .catalog-block__item-article,
    .catalog-block__item-article span{
        text-align: left;
    }
    .woof-front-builder-container .woof_auto_1_columns .woof_container{
        padding-bottom: 0 !important;
    }
    .woof_container{
        margin-bottom: 0 !important;
    }
    .woof_price3_search_container.woof_container.woof_price_filter.woof_fs_by_price{
        width: 100% !important;
    } 
}